
@{
    ViewBag.Title = "Registro de alumnos";
}

<h2>Registro de alumnos</h2>

<br />


@if (ViewBag.Alumno == null)
{


<div class="container">
        <form action="/Register/InsertAlumno" method="post">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <td>
                            <p>Ingresar los datos del alumno</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Identificacion:</td>
                        <td>
                            <input type="number" id="identificacion" name="identificacion" placeholder="Identificacion" required />

                        </td>
                    </tr>
                    <tr>
                        <td>Nombre:</td>
                        <td>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Apellidos:</td>
                        <td>
                            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Edad:</td>
                        <td>
                            <input type="number" id="edad" name="edad" placeholder="Edad" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Direccion:</td>
                        <td>
                            <input type="text" id="direccion" name="direccion" placeholder="Direccion">
                        </td>
                    </tr>
                    <tr>
                        <td>Telefono:</td>
                        <td>
                            <input type="number" id="telefono" name="telefono" placeholder="Telefono">
                        </td>
                    </tr>
                    <tr>
                        <td>Asignatura:</td>
                        <td>
                            <select name="asignatura" id="asignatura" required>
                                @foreach (var opt in ViewBag.Opciones)
                                {
                                    <option value="@opt.Codigo" id="asignatura">@opt.Nombre</option>
                                }
                                


                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Calificacion:</td>
                        <td>
                            <input type="text" id="calificacion" name="calificacion" placeholder="Calificacion">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <center><button type="submit" class="btn btn-primary" style="width:50%; ">Guardar</button></center>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

    <div>
        @if (TempData.ContainsKey("AlertMessage"))
        {
            <div class="alert alert-@(TempData["AlertType"])">
                @TempData["AlertMessage"]
            </div>
        }
    </div>
}
else
{
    foreach (var item in ViewBag.Alumno)
    {
        <div class="container">
            <form action="/Crud/ActualizarAlumno" method="post">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <td>
                                <p>Ingresar los datos del alumno</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Identificacion:</td>
                            <td>
                                <input type="number" id="identificacion" name="identificacion" placeholder="Identificacion" value="@item.Id_Alumno" readonly />

                            </td>
                        </tr>
                        <tr>
                            <td>Nombre:</td>
                            <td>
                                <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="@item.Nombre" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Apellidos:</td>
                            <td>
                                <input type="text" id="apellido" name="apellido" placeholder="Apellido" value="@item.Apellido" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Edad:</td>
                            <td>
                                <input type="number" id="edad" name="edad" placeholder="Edad" value="@item.Edad" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Direccion:</td>
                            <td>
                                <input type="text" id="direccion" name="direccion" placeholder="Direccion" value="@item.Direccion">
                            </td>
                        </tr>
                        <tr>
                            <td>Telefono:</td>
                            <td>
                                <input type="number" id="telefono" name="telefono" placeholder="Telefono" value="@item.Telefono">
                            </td>
                        </tr>
                        <tr>
                            <td>Asignatura:</td>
                            <td>
                                <select name="asignatura" id="asignatura">
                                    @if (ViewBag.Opciones.Count == 0)
                                    {
                                        foreach (var dato in ViewBag.Datos)
                                        {
                                            <option value="@dato.Codigo" id="asignatura">@dato.Nombre</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var opt in ViewBag.Opciones)
                                        {
                                            <option value="@opt.Codigo" id="asignatura">@opt.Nombre</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Calificacion:</td>
                            <td>
                                <input type="text" id="calificacion" name="calificacion" placeholder="Calificacion" value="@item.Calificacion">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <center><button type="submit" class="btn btn-primary" style="width:50%; "> Actualizar </button></center>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    }
}


