<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Colegio .NET</h1>
        <p class="lead">Colegio .NET is a free school for learn whatever you want about ASP.NET like a free web framework 
        for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p class="lead"></p>
    </section>

    @*<div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Listado de Alumnos y calificaciones</h2>
        </section>
    </div>
    <div>
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <td>Año <br />academico </td>
                    <td>Identificacion<br />Alumno </td>
                    <td>Nombre<br />Alumno </td>
                    <td>Codigo Materia </td>
                    <td>Nombre materia </td>
                    <td>Identifiacion <br /> profesor </td>
                    <td>Nombre del profesor </td>
                    <td>Calificacion final </td>
                    <td>Aprobó</td>
                </tr>
            </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>2023</td>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre  @item.Apellido</td>
                            <td>@item.Cod_Asignatura</td>
                            <td>nombre <br />materia</td>
                            <td>id profesor</td>
                            <td>nombre <br />profesor</td>
                            <td>@item.Calificacion</td>
                            <td>Aprobo</td>


                        </tr>
                    }
                </tbody>
            </table>

    </div>*@

</main>