<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Colegio .NET</h1>
        <p class="lead">
            Colegio .NET is a free school for learn whatever you want about ASP.NET like a free web framework
            for building great Web sites and Web applications using HTML, CSS and JavaScript.
        </p>
        <p class="lead"></p>
    </section>

    <h3>@ViewBag.Message</h3>
    <br />
    <br />

    <div class="container">
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <td>Año academico</td>
                    <td>Identificacion <br />Alumno</td>
                    <td>Nombre <br />Alumno</td>
                    <td>Codigo<br />Materia</br></td>
                    <td>Nombre<br />Materia</td>
                    <td>Identificacion<br />Profesor</td>
                    <td>Nombre<br />Profesor</td>
                    <td>Calificacion<br />Final</td>
                    <td>Aprobo</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>2023</td>
                        <td>@item.Id_Alumno</td>
                        <td>@item.Nombre_Alumno</td>
                        <td>@item.Codigo_Materia</td>
                        <td>@item.Nombre_Materia</td>
                        <td>@item.Id_Profesor</td>
                        <td>@item.Nombre_Profesor</td>
                        <td>@item.Calificaicon_Final</td>
                        <td>
                            @if (item.Calificaicon_Final >= 3.0)
                            {

                                <p>SI</p>
                            }
                            else
                            {
                                <p>NO</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>